@import "tailwindcss";

@theme {
  /* Основные цвета */
  --color-primary: #003366;
  --color-on-primary: #ffffff;

  /* Поверхности и фоны */
  --color-surface: #f7f9fb; /* основной фон страницы */
  --color-surface-container: #ffffff; /*  фон  карточек и контентных блоков */
  --color-surface-dim: #d8dadc; /* приглушенные элементы страницы */

  /* Цвета текста */
  --color-text-primary: #1a1c1e; /* основной текст,заголовки */
  --color-text-secondary: #44474a; /* второстепенный текст, подписи */
  --color-text-on-dark: #ffffff; /* текст на темных фонах(хедер) */

  /* Вспомогательные цвета */
  --color-outline: #c4c7ca; /* границы и разделители */
  --color-error: #ba1a1a; /* ошибки и предупреждения */
  --color-success: #2e7d32; /* успешные действия */

  /* Акцентные и интерактинвые состояния */
  --color-primary-after: #0073e6;
  --color-primary-hover: #004080; /* цвет кнопки при наведении */
  --color-secondary-container: #d6e3f7; /* фон для выделенных элементов (например, классы обслуживания)*/
  --color-on-secondary-container: #001b3d; /* цвет на светлых акцентных фонах */

  /* Константы макета */
  /* --border-radius: 8px;  радиус скругления элементов */
  /*--border-radius-lg: 12px; радиус скругления карточек */

  --radius-default: 8px;
  --radius-lg: 12px;
  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.05); /* тень для небольших элементов */
  --shadow-md: 0 4px 12px rgba(0, 51, 102, 0.08); /* тень для средних элементов */
}
